.mask {
    
    mask-image: url('/alpha-mask.png');
}

.maskOverlap {
    content: url('/slike/go_tabla.jpg');
    position: absolute;
    opacity: .85;
    clip-path: circle(9.5dvh at 65% 50%);
    bottom: 0;
    left: -15%;
    /* https://bennettfeely.com/clippy/ */
}



.header {
    background-color: #fff;
    display: grid;
    justify-items: end;
    grid-template-columns: 15rem 1fr;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 98vw;
    z-index: 3;
    top: 0;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menuBtn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    
    font-size: 2em;
    padding: 1rem ;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menuIcon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menuIcon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menuIcon .navicon:before,
  .header .menuIcon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menuIcon .navicon:before {
    top: 5px;
  }
  
  .header .menuIcon .navicon:after {
    top: -5px;
  }
  
  /* menuBtn */
  
  .header .menuBtn {
    display: none;
  }
  
  .header .menuBtn:checked ~ .menu {
    max-height: 440px;
  }
  
  .header .menuBtn:checked ~ .menuIcon .navicon {
    background: transparent;
  }
  
  .header .menuBtn:checked ~ .menuIcon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menuBtn:checked ~ .menuIcon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:before,
  .header .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menuIcon {
      display: none;
    }
  }
  